html {
    background: linear-gradient(70deg,rgb(8, 16, 117), rgb(2, 6, 55));
    color: rgb(255, 255, 255);
}

body {
    height: 100%;
    overflow: hidden;
}

body, input {
    text-align: center;
}

* {
    scrollbar-width: thin;
    scrollbar-color: rgb(55, 0, 255) rgb(0, 14, 77);
}

*::-webkit-scrollbar {
    width: 0.7vw;
    height: 1vh;
}
*::-webkit-scrollbar-track {
    background: rgb(0, 14, 77);
}
*::-webkit-scrollbar-thumb {
    background: rgb(55, 0, 255);
}
*::-webkit-scrollbar-thumb:hover {
    background: rgb(74, 37, 255);
}

input {
    border-bottom-width: thin;
    border-radius: 0;
    border-color: rgb(226, 226, 226);
}
input[type="number"] {
    appearance: textfield;
    outline: none;
}
input[type="text"] {
    font-size: 1.2vw;
}
input, button {
    background: linear-gradient(#262626,#eaeaea,#262626);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    caret-color: rgb(185, 185, 185);
}
::placeholder {
    opacity: 0.85;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
button {
    border-top-width: thin;
    border-color: rgb(150, 150, 150);
}
button:hover {
    cursor: pointer;
}

#cpu-input-all {
    width: 100%;
}

#btn-dispatch {
    font-size: 1.5vw;
}

.row {
    display: flex;
    flex-direction: row;
}
.column {
    display: flex;
    flex-direction: column;
}

.content-width-spacing {
    width: 33.33%;
    width: calc(100% / 3);
    text-align: center;
}

.name-space {
    width: 65%;
    max-width: 65%;
}
.priority-space {
    width: 18%;
    max-width: 18%;
}

.header-container {
    align-self: center;
    font-size: 1vw;
    width: 100%;
}
h1 {
    background: linear-gradient(#262626,#eaeaea,#262626);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

    /* margin-left: auto;
    margin-right: auto; */
    margin-top: 0;
    margin-bottom: 0;
}

.top-row-corner {
    align-self: center;
    font-size: 1vw;
    width: 17vw;
}

.message-container {
    min-height: 2.3vh;
}
#message {
    width: 100%;

    background: linear-gradient(#262626,#eaeaea,#262626);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.processing {
    /* background: linear-gradient(rgb(255, 0, 0),rgb(182, 0, 0),rgb(255, 0, 0));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; */

    color: rgb(255, 0, 0);
    background-color: rgba(0, 0, 0, 0.8);
    border-style: solid;
    border-color: rgba(255, 0, 0, 0.8);
    margin-bottom: 0.4em;
    text-align: center;
}
.current-status:not(.processing) {
    /* background: linear-gradient(rgb(0, 255, 0),rgb(0, 182, 0),rgb(0, 255, 0));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; */

    color: rgb(0, 255, 0);
    background-color: rgba(0, 0, 0, 0.8);
    border-style: solid;
    border-color: rgba(0, 255, 0, 0.8);
    margin-bottom: 0.4em;
    text-align: center;
}

label {
    text-align: start;
}

.split-line {
    border-style: inset;
    border-width: thin;
    border-color: rgb(150, 150, 150);
    height: 84vh;

    margin-left: 0.7%;
    margin-right: 0.7%;
}

#cpu-1 {
    /* color: rgb(200, 25, 30); */
    background: linear-gradient(rgb(180, 42, 21), rgb(250, 60, 20), rgb(180, 30, 7));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
#cpu-2 {
    /*color: rgb(125, 79, 255);*/
    /*background: linear-gradient(rgb(125, 79, 255), rgb(141, 76, 255));*/
    /*background: linear-gradient(#24e6e9, #134679);*/
    background: linear-gradient(#b9dcef, #799bca);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
#cpu-3 {
    color: rgb(35, 204, 31)
}

.name {
    border-style: solid;
    border-width: thin;
    border-color: rgb(255, 255, 255);
    width: 65%;
}
.time {
    border-style: solid;
    border-width: thin;
    border-color: rgb(255, 255, 255);
}
.priority {
    border-style: solid;
    border-width: thin;
    border-color: rgb(255, 255, 255);
    width: 18%;
}

.processes {
    min-height: 10.5em;
    max-height: 10.5em;
    /* min-height: 26%;
    max-height: 26%; */
    overflow: auto;
    float: none;
}
@-moz-document url-prefix() {
    .processes {
        overflow: scroll;        
    }
}

.bar-chart-size {
    height: 5vh;
    width: 8vw;
}
.pie-chart-container {
    position: relative;
    width: 14vw;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 1401px) {
    .pie-chart-container {
        width: 10vw;
    }
}
.all-charts-container {
    max-height: 100%;
    overflow: auto;
}